#top-container {
    background-color: black;
    color: white;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

#top-title {
    margin-top: 0;
    color: greenyellow;
}

#top-description {
    margin: 20px;
}

#top-notice {
    margin: 10px;
    position: fixed;
    bottom: 10vh;
}

#top-notice p {
    font-size: small;
    margin: 0;
}

#top-credit {
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    text-align: center;
}
